<!DOCTYPE html>
<html>
<body>

<form action="/emails" method="post" enctype="text/html">
To:<br>
<input type="text" name="email[to]"><br>
Subject:<br>
<input type="text" name="email[subject]"><br><br>
Body:<br>
<input type="textarea" name="email[body]"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</body>
</html>
